<div class="container mt-4">

    <!--Inicio formulario-->
    <form action="" class="form-group">
        <input type="text" class="form-control" placeholder="Busque un cliente">
    </form>
    <!--Fin formulario-->
    <button routerLink="/agregar-clientes" class="btn btn-primary">Agregar cliente nuevo</button>

    <!--Inicio fila-->
    <div class="row mt-4">
        <!--Inicio columna-->
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Juan Perez</h5>
                    <p class="card-text">Direccion</p>
                    <a href="#" class="card-link">Agregar</a>
                    <a href="#" class="card-link">Información</a>
                </div>
            </div>
        </div>
        <!--Fin columna-->
    </div>
    <!--Fin fila-->
</div>